@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}

::selection {
  background-color: #88d9fa;
  color: white;
}

html,
body {
  height: 100%;
  color: #434e52;
  background-color: #fdfdfd !important;
}

#root {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

a {
  color: #434e52;
  text-decoration: none;
  transition: 0.1s all linear;
}

a:hover {
  color: #2cb5e0;
  text-decoration: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #88d9fa;
  border: none;
}

.btn-primary {
  color: black;
  background-color: #88d9fa;
  border: none;
  transition: 0.1s all linear;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #88d9fa;
}

.btn-primary:hover {
  background-color: #88d9fa;
  box-shadow: 0 0 5px 1px #434e52;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #88d9fa;
  /* border-color: transparent; */
}

.progress {
  height: 1.25rem;
}

.progress-bar {
  background-color: #88d9fa;
  color: #434e52;
  font-weight: bold;
}

.active {
  color: #2cb5e0;
  font-weight: bold;
}

.scroll-up-button {
  position: fixed;
  /* width: 100%; */
  right: 15px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  bottom: 10px;
  height: auto;
  z-index: 10;
  cursor: pointer;
  color: green;
  background-color: transparent;
  border: none;
  opacity: 85%;
}

.scroll-up-button:hover {
  opacity: 100%;
}

.custom-nav-container {
  background-color: #f8f9fa !important;
}

.custom-nav {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.custom-nav .navbar-nav {
  max-width: 100%;
  width: 100%;
}

.custom-nav .navbar-nav hr {
  margin: 0.3em;
}

.custom-nav .navbar-nav a {
  display: inline-block;
  padding: 0.5em;
  position: relative;
  font-size: 1.1em;
  margin-right: 0.5em;
}

.custom-nav .navbar-nav .last-before-my-acc {
  margin: 0;
}

.custom-nav .navbar-nav .my-account-link {
  border: none;
  margin: 0;
}

.my-account-link img {
  max-width: 45px;
}

.main-page-header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 60vh;
  background-image: url('./assets/porsche-normal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-page-content {
  background-color: #f8f9fa !important;
  max-width: 100%;
  width: 50%;
  height: 100%;
  opacity: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page-content h1 {
  font-size: 2.65rem;
}

.main-page-content p {
  font-size: 1.2em;
}

.main-page-content .btn-login {
  font-size: 1.2em;
  display: block;
  width: 150px;
  margin: 0 auto;
  background-color: #88d9fa;
  padding: 0.3em 1em;
  border-radius: 0.2em;
  color: black;
  transition: 0.1s all linear;
}

.main-page-content .btn-login:hover {
  color: white;
  box-shadow: 0 0 5px 2px #434e52;
}

.nav-item {
  margin-right: 0.5rem;
}

.form-inline {
  margin-right: 0.5rem;
}

.container h3 {
  display: flex;
  align-items: center;
}

.service-order-header {
  border-right: 1px solid #434e52;
  padding-right: 1rem;
  margin-right: 1rem;
}

.last-minute {
  margin-right: .5em;
}

.edit-create-work, .edit-create-rate {
  min-height: 74%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .h3 span:last-child {
  border:none
} */

/* *ABOUT US */

/* #about-us h2,
#services h2,
#contacts h2 {
  font-weight: bold;
} */

#about-us,
#contacts,
.add-new {
  padding: 1em;
  /* text-align: center; */
  max-width: 1550px;
  margin: 0 auto;
}

#about-us p,
#services p {
  line-height: 1.6em;
  font-size: 1.15em;
  /* max-width: 1150px; */
  margin: 1rem auto;
}

#about-us hr {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.about-us-part-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-part-two {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* .about-us-content {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  gap: 2%;
} */

.about-us-paragraphs {
  max-width: 45%;
}

.about-us-img-container {
  max-width: 50%;
  max-height: 420px;
  overflow: hidden;
  border-radius: 0.2em;
  box-shadow: 0 0 10px 1px #434e52;
}

.about-us-img-container img {
  max-width: 100%;
}

/* *SERVICES */

#services {
  max-width: 100%;
  width: 100%;
}

.main-page-services-header,
.services-intro {
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 0;
  max-width: 1550px;
}

.services-intro {
  padding-top: 0;
}

.main-page-services-list {
  max-width: 100%;
  /* background-color: #88d9fa; */
  padding: 1em;
}

.main-page-services-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1520px;
  margin: 0 auto;
}

.main-page-services-list li {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-services-list h4 {
  /* color: ; */
}

.image-container-services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
}

.main-page-services-list li img {
  max-width: 100%;
  opacity: 90%;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px black;
}

.image-container-services-list {
  margin-bottom: 1em;
}

/* .services-footer .btn {
  margin-bottom: 2em;
} */

/* * CONTACTS */

#contacts {
  margin-bottom: 1em;
}

#contacts h2 {
  margin-bottom: 1em;
}

.contacts-content {
  display: grid;
  grid-template-columns: 50% 48%;
  gap: 2%;
}

.contacts-map {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 0.2em;
  box-shadow: 0 0 10px 1px #434e52;
}

.contacts-map iframe {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  border: none;
}

.contacts-info {
  display: flex;
  flex-direction: column;
}

.contacts-info-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.contacts-info-content p {
  font-size: 1.1em;
}

/* .contacts-info-content h5 {
  margin-bottom: 1em;
} */

.contacts-email {
  margin-bottom: 1.5em;
}

.contacts-question {
  flex-grow: 1;
  margin-bottom: 1.25em;
}

.contacts-email input,
.contacts-question textarea {
  padding: 0.3em 0.5em;
  box-shadow: 0 0 10px 1px #434e52;
  border: none;
  border-radius: 0.2em;
}

.contacts-email input {
  width: 50%;
}

.contacts-question textarea {
  width: 100%;
  height: 100%;
}

.contacts-submit {
  align-self: flex-end;
}

.contacts-submit button {
  max-width: 100%;
  width: 150px;
  border: none;
  font-size: 1.15em;
  padding: 0.4em;
  background-color: #88d9fa;
  color: #434e52;
}

.contacts-submit button:hover {
  background-color: #88d9fa;
  box-shadow: 0 0 5px 2px #434e52;
}

.contacts-submit button:focus {
  border-color: #434e52;
  background-color: #88d9fa;
}

.footer {
  background-color: #f8f9fa !important;
  padding: 1em;
}

.footer-content {
  max-width: 1550px;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: 70% 30%; */
  /* gap: 5%; */
}

.footer-logo {
  width: 100%;
  height: 100%;
}

.footer-logo img {
  width: 125px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* * Login Select */

.login-select-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.login-select-logo img {
  max-width: 100%;
}

.login-select-buttons button:first-child {
  margin-right: 1em;
}

.login-select-logo {
  max-width: 550px;
  width: 550px;
  margin-bottom: 5em;
  /* flex-grow: 1; */
  /* background-color: transparent; */
}

.button-option {
  padding: 1em;
  display: inline-block;
  max-width: 300px;
  width: 300px;
  font-size: 1.3em;
  border: none;
  border-radius: 0.2em;
  background-color: #88d9fa;
  transition: 0.2s all linear;
}

.button-option:hover {
  color: white;
  box-shadow: 0 0 5px 2px #434e52;
}

/* * Login Form */

.login-form-container {
  margin: 0 auto;
  max-width: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-size: 1.3em;
}

.login-form-logo {
  max-width: 100%;
  /* flex-grow: 1; */
  margin-bottom: 2em;
}

.login-form-logo img {
  max-width: 100%;
}

.login-form {
  width: 90%;
  /* flex-grow: 1; */
  /* display: flex;
  flex-direction: column; */
}

.form-group {
  position: relative;
}

.input-icon {
  position: absolute;
  display: block;
  max-width: 25px;
  max-height: 25px;
}

.input-icon img {
  width: 100%;
  height: 100%;
}

.login-form input {
  border: none;
  border-bottom: 2px solid #434e52;
  border-radius: 0;
  outline: none;
}

.login-form .form-control {
  padding-left: 2em;
}

.login-form input {
  display: inline-block;
  margin-bottom: 1em;
}

.login-form input:focus {
  box-shadow: none;
}

.login-form a span {
  font-weight: bold;
}

.login-form button {
  max-width: 100%;
  width: 35%;
  border: none;
  font-size: 1em;
  padding: 0.4em;
  background-color: #88d9fa;
  color: #434e52;
}

.login-form button:hover {
  background-color: #88d9fa;
  box-shadow: 0 0 5px 2px #434e52;
}

/* * Edit Create Service Order */

.service-bar,
.catalogue-bar {
  margin: 0 auto;
  padding: 1em 0.5em;
  max-width: 1550px;
  background-color: transparent;
}

.catalogue-bar {
  max-width: 1540px;
}

.search-field button {
  margin-left: 0.5em;
}

.edit-create-service-order {
  max-width: 1550px;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: white;
}

/* * Service Order */
.service-order,
.catalogue-elements {
  max-width: 1550px;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: white;
}

.catalogue-elements {
  /* height: 66%; */
}

.service-orders-items,
.rates,
.parts,
.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.rates,
.parts,
.works {
  margin-top: 1em;
  gap: 20px;
}

.works {
  /* ! имай едно наум ! */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.works-seo,
.parts-seo {
  margin-top: 1em;
}

#customer span {
  display: block;
  margin-bottom: 0.5em;
}

#car button {
  margin-left: 0.5em;
  display: inline-block;
}

/* * Customers */

.users {
  max-width: 1550px;
  margin: 0 auto;
  padding: 1em;
}

.filter-search-header h4 {
  /* display: inline-block; */
  /* margin-right: .5em; */
  vertical-align: bottom;
}

.filter-search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.filter-search-header img {
  max-width: 40px;
  cursor: pointer;
}

.filter-search-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.filter-search-bar button {
  margin-bottom: 1em;
}

.filter-search-bar:first-child button {
  margin-right: 0.5em;
}

.filter-search-bar > button {
  width: 95px;
}

.filter-submit {
  margin-bottom: 1em;
}

.order {
  /* margin-bottom: 1em; */
  display: flex;
  flex-wrap: wrap;
}

.order p {
  font-size: 1.1em;
  margin-right: 0.5em;
}

.order p:last-child {
  margin-right: 0;
}

.order-container p {
  display: inline-block;

  cursor: pointer;
}

.order-container p {
  font-weight: bold;
  cursor: pointer;
}

.order-container p:last-child {
  border-bottom: 1px solid #444;
}

.order-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: .5em; */
}

/* .add-customers,
.add-employees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} */

.add-employees {
}

.show {
  font-size: 0.9em;
}

.show label,
.show select {
  margin-right: 0.5em;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 1em;
}

.content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48vh;
}

.pagination-container,
.pagination-container-less-items,
.pagination-container-loading {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  min-height: auto;
}

.pagination-container-less-items {
  min-height: 30vh;
  align-items: flex-end;
}

.pagination-container-loading {
  min-height: 10vh;
  align-items: flex-end;
}

.custom-pagination {
}

.pag-buttons {
}

.pag-buttons button {
  width: 200px;
}

.pag-buttons button:last-child {
  margin-left: 1em;
}

/* * DETAILS - ADD NEW */

.add-new {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; */
}

.add-page-buttons {
  padding: 0.5em;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.add-page-buttons div {
  margin-right: 0.5em;
}

.add-page-buttons button {
  max-width: 100%;
  width: 210px;
}

.add-page-buttons div:last-child {
  margin-right: 0;
}

.details {
  margin-bottom: 1em;
  border: 1px solid #f8f9fa;
  border-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  overflow: hidden;
}

.details-heading {
  /* max-width: 100%; */
  /* width: 100%; */
  background-color: #f8f9fa;
  padding: 0.3em 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.details-heading h3 {
  margin-bottom: 0;
}

button.add-another {
  padding: 0.45em;
  max-width: 100%;
  width: 200px;
  border: none;
  border-radius: 0.2em;
  background-color: #88d9fa;
  transition: 0.1s all linear;
}

button.add-another:hover {
  box-shadow: 0 0 5px 1px #434e52;
  color: white;
}

.details form {
  padding: 0.5em;
}

/* .customer-details {
  margin: 0 auto;
  max-width: 400px;
} */

.details {
  position: relative;
}

.car-details .overlay {
  /* display: none; */
  /* content: ''; */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  z-index: 10;
  opacity: 60%;
}

.car-content {
  padding: 0.5em;
}

.car-content,
.car-content form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.car-content .loading {
  width: 100vw;
}

.car-content .empty-result {
  width: 100vw;
}

.no-model,
.no-brand {
  /* margin-top: 1em; */
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.no-model p,
.no-brand p {
  /* font-weight: bold; */
  /* margin-bottom: .5em; */
}

.fx-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.get-live-fx button {
  max-width: 100px;
  width: 100px;
  border: none;
  background-color: #88d9fa;
  padding: 0.4em 0.3em;
  border-radius: 0.2em;
  transition: 0.1s all linear;
}

.get-live-fx button:hover {
  color: white;
  box-shadow: 0 0 5px 1px #434e52;
}

.no-buttons {
  margin-top: 1em;
  max-width: 100%;
  width: 100%;
  display: flex;
}

.first-row-btns button:last-child {
  margin-left: 0.5em;
}

.no-buttons button,
.no-buttons button {
  width: 100%;
  color: black;
  transition: 0.1s all linear;
  border: none;
}

.no-inputs input {
  max-width: 100%;
  width: 100%;
}

.add-model,
.add-brand {
  /* margin-top: 1em; */
  max-width: 100%;
  width: 100%;
}

.add-button {
  background-color: #88d9fa;
}

.cancel-button {
  background-color: red;
  opacity: 80%;
}

.add-button:hover,
.add-button:focus {
  background-color: #88d9fa;
  border: none;
}

.cancel-button:hover,
.cancel-button:focus {
  background-color: red;
  opacity: 100%;
}

.add-button:hover,
.cancel-button:hover {
  box-shadow: 0 0 5px 1px #434e52;
}

.custom-title h4 {
  font-size: 1.2em;
}

.view-car-img {
  max-width: 100%;
  width: 100%;
  /* max-height: 100%; */
  /* max-height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  overflow: hidden;
}

.view-car-img img {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  /* height: 100%; */
  border-radius: 0.2em;
}

/* EMPLOYEES, CUSTOMERS, CARS PAGE */

.users .custom-card .list-group {
  flex-grow: 1;
}

.users .custom-card .list-group .list-group-item:nth-child(2) {
  flex-grow: 1;
}

.users .custom-card .list-group .list-group-item {
  word-break: break-all;
}

.custom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-card-header span {
  font-size: 1.2em;
  font-weight: bold;
}

.edit-delete-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-delete-icons button {
  display: inline-block;
  border: none;
  background-color: transparent;
  margin-right: 0.5em;
  opacity: 80%;
}

.edit-delete-icons button:hover {
  opacity: 100%;
}

.edit-delete-icons button:last-child {
  margin-right: 0;
}

.edit-delete-icons button img {
  max-width: 28px;
}

.custom-card-footer {
  display: flex;
  justify-content: flex-end;
}

.custom-card-footer button {
  max-width: 100%;
}

/* CUSTOMER / EMPLOYEE / MY ACCOUNT PAGE */

.page-container {
  padding: 1em 0.5em;
  /* text-align: center; */
  max-width: 1550px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'user-account car-container car-container'
    'service-orders service-orders service-orders';
  gap: 10px;
}

.customer-info {
  max-width: 100%;
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.customer-info h5 span {
  font-weight: bold;
}

.user-account {
  grid-area: user-account;
}

.car-container {
  grid-area: car-container;
}

.service-order-container {
  grid-area: service-orders;
}

.user-details-header,
.car-details-header,
.service-order-details-header {
  background-color: #f8f9fa;
  padding: 0.3em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  padding: 0.5em;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  gap: 10px;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.user-info li,
.car-info li {
  word-wrap: break-word;
  /* border: 1px solid #434e52 */
}

.user-info li p,
.car-info li p {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.user-info li:last-child {
  /* margin-bottom: 4px; */
}

.car-container .car-content {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.car-container .view-car-img {
  /* max-height: 450px; */
}

.car-info {
  padding: 0.5em;
  margin-bottom: -0.5em;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 11.5px;
}

.car-details-footer,
.service-order-details-footer {
  max-width: 100%;
  width: 100%;
  padding: 0.5em;
  background-color: #f8f9fa;
}

.service-order-details-footer .show-next button:first-child,
.car-details-footer .show-next button:first-child {
  margin-right: 0.5em;
}

.show-next {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
}

.show-next button {
  width: 210px;
}

.loading,
.empty-result {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img,
.empty-result img {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: auto;
}

@media (max-width: 1920px) {
  .custom-nav-container hr {
    display: none;
  }

  .custom-nav .navbar-nav a {
    /* max-width: 170px; */
    /* width: 150px; */
    text-align: center;
    font-size: 1.2em;
  }

  /* .custom-nav .navbar-nav a:last-child {
    padding: 0;
    width: auto;
  } */

  .c-separator {
    flex-grow: 1;
    display: block;
  }
}

@media (max-width: 1545px) {
  .account-page .car-content {
    /* grid-template-columns: auto; */
  }

  .account-page .car-info {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
}

@media (max-width: 1109) {
}

@media (max-width: 991px) {
  .custom-nav-container hr {
    display: block;
  }

  .custom-nav .navbar-nav a {
    width: 100%;
    text-align: left;
    border: none;
    font-size: 1.1em;
  }

  .custom-nav .navbar-nav a:focus {
    outline: 1px dashed black;
  }

  .c-separator {
    display: none;
  }

  .my-account-link img {
    max-width: 40px;
  }

  .image-container-services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 155px;
  }

  .car-container .car-content {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .pagination-container-less-items {
    min-height: auto;
  }
}

@media (max-width: 670px) {
  .login-select-container {
    height: 94%;
  }

  .login-select-logo {
    max-width: 300px;
    width: 300px;
    /* background-color: transparent; */
  }

  .login-select-buttons {
    display: flex;
    flex-direction: column;
  }

  .login-select-buttons button:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .car-container .car-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 425px) {
  .mr-auto {
    padding-left: 0.3em;
  }
  .navbar {
    /* margin-bottom: 1em; */
  }

  .custom-nav .navbar-nav a {
    width: 100%;
    font-size: 1em;
  }

  .my-account-link img {
    max-width: 38px;
  }

  .main-page-header {
    color: black;
    background: white;
  }

  .main-page-header {
    height: 45vh;
  }

  .main-page-header h1 {
    /* font-size: 2em; */
  }

  .main-page-header h1 span,
  .main-page-header p span {
    display: block;
  }

  .main-page-content {
    max-width: 100%;
    width: 100%;
  }

  #about-us p {
    width: 100%;
  }

  .about-us-part-one,
  .about-us-part-two {
    /* flex-direction: column; */
    display: block;
  }

  .about-us-paragraphs {
    max-width: 100%;
  }

  .about-us-img-container {
    max-width: 100%;
  }

  .main-page-services-list ul {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .main-page-services-list li {
    margin-bottom: 2.5em;
  }

  .main-page-services-list li:last-child {
    margin-bottom: 0;
  }

  .image-container-services-list {
    margin-bottom: 1.25em;
  }

  /* .services-intro {
    text-align: center;
  } */

  .contacts-content {
    grid-template-columns: repeat(1, 100%);
    gap: 0;
  }

  .contacts-map {
    margin-bottom: 1em;
  }

  .contacts-email input {
    width: 100%;
  }

  .contacts-question textarea {
    height: 150px;
  }

  .contacts-submit {
    width: 100%;
  }

  .contacts-submit button {
    width: 100%;
  }

  .footer-content {
    grid-template-columns: repeat(1, 100%);
    gap: 0;
  }

  .login-select-buttons button:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .login-form-container {
    height: 94%;
    font-size: 1.1em;
  }

  .login-form button {
    width: 100%;
  }

  .login-form-logo {
    max-width: 87%;
  }

  .filter-search-header img {
    max-width: 35px;
  }

  .filter-submit,
  .add button {
    width: 100%;
  }

  button.add-another {
    margin-bottom: 0.5em;
    width: 100%;
  }

  .add-new {
    padding: 1em 0.6em;
  }

  .add-page-buttons div {
    width: 100%;
    margin-right: 0;
  }

  .add-page-buttons button {
    width: 100%;
  }

  /* 
  .view-car-img {
    height: 100%;
  } */

  .custom-card-footer button {
    width: 100%;
  }

  .show-next button {
    width: 100%;
  }

  .show {
    font-size: 1em;
  }

  .page-container {
    grid-template-areas:
      'user-account'
      'car-container'
      'service-orders';
  }

  .page-container .user-info {
    grid-template-columns: auto;
  }

  .service-order-details-footer .show-next button:first-child,
  .car-details-footer .show-next button:first-child {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  span.service-orders-count {
    display: block;
  }

  .car-details-header span {
    display: block;
  }

  .first-row-btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .first-row-btns button {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .first-row-btns button:last-child {
    margin-left: 0;
    margin-top: 1em;
  }

  .customer-info h5 {
    margin-bottom: 1em;
  }

  .customer-info h5:last-child {
    margin-bottom: 0.25em;
  }

  /* .fx .h4 {
    font-size: 1.2em;
  } */

  .get-live-fx button {
    width: 70px;
  }

  .search-field button {
    margin-left: 0;
    margin-top: 1em;
    width: 100%;
  }

  #rates > button,
  #works > button {
    width: 100%;
  }

  .filter-search-bar button {
    margin-bottom: 1em;
    width: 100%;
  }

  .filter-search-bar:first-child button {
    margin-right: 0.5em;
  }

  .filter-search-bar > button {
    width: 100%;
  }

  .add-customers {
    width: 100%;
  }

  .pag-buttons {
    width: 100%;
  }

  .pag-buttons button {
    width: 100%;
  }

  .pag-buttons button:last-child {
    margin-left: 0;
    margin-top: 1em;
  }

  .service-bar .navbar-collapse button {
    width: 100%;
    margin: 1em 0;
  }

  .last-minute {
    margin-top: .5em;
    margin-right: 0;
  }
}
